{% macro Button(url, target, text) %}
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-get="{{ url }}" hx-swap="innerHTML" hx-target="{{ target }}"
  >{{ text }}
  </button>
{% endmacro %}


{% macro EditButton(url, target, text) %}
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-get="{{ url }}" hx-swap="innerHTML" hx-target="{{ target }}"
  >{{ text }}
  </button>
{% endmacro %}


{% macro PostButton(url, target, text) %}
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-post="{{ url }}" hx-swap="innerHTML" hx-target="{{ target }}"
  >{{ text }}
  </button>
{% endmacro %}


{% macro DeleteButton(url, target, text, confirm_text) %}
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          {% if confirm_text %} hx-confirm="{{ confirm_text }}" {% endif %}
          hx-delete="{{ url }}" hx-swap="innerHTML" hx-target="{{ target }}"
  >{{ text }}
  </button>
{% endmacro %}


{# button with input field on the left #}
{% macro InputButton(url, target, field, field_type, text, default) %}
  <form hx-post="{{ url }}" hx-swap="innerHTML" hx-target="{{ target }}"
        class="flex items-center space-x-2">
    <div class="flex items-center">
      <label for="{{ field }}"></label>
      <input type="{{ field_type }}" id="{{ field }}" name="{{ field }}"
            {% if default %} value="{{ default }}" {% endif %}
             class="no-arrows shadow appearance-none border border-gray-300 rounded-l py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-24">
      <button type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r"
      >{{ text }}
      </button>
    </div>
  </form>
{% endmacro %}
