<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Plan</title>
  <meta charset="utf-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <style>
      /* Custom CSS to remove number input arrows */
      input[type=number]::-webkit-outer-spin-button,
      input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type=number] {
          -moz-appearance: textfield;
      }
  </style>
</head>
<body>
<div class="m-2 ml-4 flex flex-wrap space-x-4">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          id="config_btn"
  >Konfiguracja
  </button>

  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-get="/new-plan" hx-swap="innerHTML" hx-target="#statistics"
  >Nowy plan
  </button>

  <form hx-post="/next-gens" hx-swap="innerHTML" hx-target="#statistics"
        class="flex items-center space-x-2">
    <div class="flex items-center">
      <label for="n"></label>
      <input type="number" id="n" name="n" value="200"
             class="no-arrows shadow appearance-none border border-gray-300 rounded-l py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-24">
      <button type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r"
      >Następne generacje
      </button>
    </div>
  </form>

  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-get="/best-plan" hx-swap="innerHTML" hx-target="#plan-target"
  >Pokaż najlepszy plan
  </button>

  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-get="/teachers-plans" hx-swap="innerHTML" hx-target="#plan-target"
  >Pokaż plan nauczycieli
  </button>

  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-get="/teachers" hx-swap="innerHTML" hx-target="#plan-target"
  >Nauczyciele
  </button>

  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          hx-get="/subjects" hx-swap="innerHTML" hx-target="#plan-target"
  >Przedmioty
  </button>
</div>

<div class="flex">
  <div class="w-2/5 m-4">
    <div id="config" style="display: none">
      {% include "config_input.html" %}
    </div>

    <div id="statistics">
      {% include "statistics.html" %}
    </div>
  </div>

  <div id="plan-target" class="flex-1"></div>
</div>

<script>
    let config = document.getElementById("config");
    document.getElementById("config_btn").addEventListener("click", () => {
        config.style.display = config.style.display === "none" ? "block" : "none";
    });
</script>
</body>