<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Plan</title>
  <meta charset="utf-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
      /* Custom CSS to remove number input arrows */
      input[type=number]::-webkit-outer-spin-button,
      input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type=number] {
          -moz-appearance: textfield;
      }
  </style>
</head>
<body>
{% from "macros/buttons.html" import Button, InputButton %}

<div class="m-2 ml-4 flex flex-wrap space-x-4">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-32 px-4 rounded"
          id="config_btn"
  >Konfiguracja
  </button>

  {{ Button(url="/new-plan", target="#statistics", text="Nowy plan") }}

  {{ InputButton(url="/next-gens", target="#statistics", text="Następne generacje", field="n", field_type="number", default=200) }}

  {{ Button(url="/best-plan", target="#plan-target", text="Najlepszy plan") }}

  {{ Button(url="/compact-plan", target="#plan-target", text="Najlepszy plan (kompaktowy)") }}

  {{ Button(url="/teachers-plans", target="#plan-target", text="Plan nauczycieli") }}

  {{ Button(url="/teachers", target="#plan-target", text="Nauczyciele") }}

  {{ Button(url="/subjects", target="#plan-target", text="Przedmioty") }}
</div>

<div class="flex">
  <div class="w-2/5 m-4">
    <div id="config" style="display: none">
      {% include "config_input.html" %}
    </div>

    <div id="statistics">
      {% include "statistics.html" %}
    </div>
  </div>

  <div id="plan-target" class="flex-1 m-4"></div>
</div>

<script>
    // Collapsing config
    let config = document.getElementById("config");
    document.getElementById("config_btn").addEventListener("click", () => {
        config.style.display = config.style.display === "none" ? "block" : "none";
    });
</script>
</body>