{% macro plan_cell(lesson, teachers, subjects) %}
  {% set teacher_name = teachers | selectattr("id", "equalto", lesson.teacher_id) | map(attribute="name") | first %}
  {% set subject_name = subjects | selectattr("id", "equalto", lesson.subject_id) | map(attribute="name") | first %}
  <div class="flex flex-col justify-between items-center">
    <div class="text-sm">{{ subject_name }}</div>
    <div class="text-sm">{{ teacher_name }}</div>
  </div>
{% endmacro %}


{# School Plan #}
{% macro plan_view(class_plan, teachers, subjects) %}
  <div class="w-3/4">
    {% set table_style = "px-4 py-2 border border-gray-300 text-center" %}

    <table class="table-auto border-collapse border border-gray-300" style="table-layout: fixed; width: 100%;">
      <tr>
        <th class="{{ table_style }} bg-gray-100 w-14">No</th>
        <th class="{{ table_style }} bg-gray-100">Poniedziałek</th>
        <th class="{{ table_style }} bg-gray-100">Wtorek</th>
        <th class="{{ table_style }} bg-gray-100">Środa</th>
        <th class="{{ table_style }} bg-gray-100">Czwartek</th>
        <th class="{{ table_style }} bg-gray-100">Piątek</th>
      </tr>
      {% for i in range(8) %}
        <tr>
          <td class="{{ table_style }}">{{ i + 1 }}</td>
          <td class="{{ table_style }}">{{ plan_cell(class_plan['Monday'][i],    teachers, subjects) }}</td>
          <td class="{{ table_style }}">{{ plan_cell(class_plan['Tuesday'][i],   teachers, subjects) }}</td>
          <td class="{{ table_style }}">{{ plan_cell(class_plan['Wednesday'][i], teachers, subjects) }}</td>
          <td class="{{ table_style }}">{{ plan_cell(class_plan['Thursday'][i],  teachers, subjects) }}</td>
          <td class="{{ table_style }}">{{ plan_cell(class_plan['Friday'][i],    teachers, subjects) }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endmacro %}


{% block plan %}
    <h2 class="text-lg font-bold mb-4">Plan szkolny</h2>

    {% for class_name in school_plan.keys() %}
      <h3 class="text-lg mb-4">Plan {{ class_name }}</h3>

      {{ plan_view(school_plan[class_name], config.teachers, config.subjects[class_name]) }}
      <br>
    {% endfor %}
{% endblock %}
