{% block statistics %}
  <div class="bg-white border-blue-500 border-2 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h4 class="text-lg font-bold mb-4">Generacja {{ score["gen"] }}</h4>
    <p>Wynik maksymalny: {{ score["max"]|round(5) }}</p>
    <p>Wynik średni: {{ score["avg"]|round(5) }}</p>
    <p>Wynik minimalny: {{ score["min"]|round(5) }}</p>

    {% if graph %}
      <h5 class="text-lg font-bold mb-4 mt-4">Wykres przystosowania</h5>
      <img src="{{ graph }}" alt="Graph">
    {% endif %}
  </div>
{% endblock %}
