{% from "macros/buttons.html" import Button, DeleteButton, InputButton %}

<div class="overflow-x-auto">
  <h2 class="text-lg font-bold mb-4">Przedmioty</h2>

  {% set table_style = "px-4 py-2 border border-gray-300" %}
  {% for group, plans in subjects.items() %}
    <h2>Plan {{ group }}</h2>

    {% set url1 = "/subject/" ~ group %}
    {{ Button(url=url1, target="#plan-target", text="Dodaj przedmiot") }}

    {% set url2 = "/group/" ~ group %}
    {{ DeleteButton(url=url2, target="#plan-target", text="Usuń klase", confirm_text="Czy napewno chcesz usunąć tę klasę?") }}

    <table class="table-auto border-collapse border border-gray-300">
      <tr>
        <th class="{{ table_style }} bg-gray-100">ID</th>
        <th class="{{ table_style }} bg-gray-100">Przedmiot</th>
        <th class="{{ table_style }} bg-gray-100">Liczba godzin</th>
        <th class="{{ table_style }} bg-gray-100">Na początku/końcu</th>
        <th class="{{ table_style }} bg-gray-100">Actions</th>
      </tr>
      {% for subject in plans %}
        <tr>
          <td class="{{ table_style }}">{{ subject["id"] }}</td>
          <td class="{{ table_style }}">{{ subject["name"] }}</td>
          <td class="{{ table_style }}">{{ subject["hours"] }}</td>
          <td class="{{ table_style }}">{{ subject["start_end"] }}</td>
          <td class="{{ table_style }}">{{ "buttons" }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}

  {{ InputButton(url="/group", target="#plan-target", text="Dodaj kalsę", field="g-name", field_type="text") }}
</div>