{% macro teacher_plan_cell(is_teaching) %}
  <div class="text-sm">{% if is_teaching %} X {% endif %}</div>
{% endmacro %}

{# Teacher Plan #}
{% macro teacher_plan_view(class_plan, teachers) %}
  <div class="overflow-x-auto">
    {% set table_style = "px-4 py-2 border border-gray-300 text-center" %}
    <table class="table-auto border-collapse border border-gray-300">
      <tr>
        <th class="{{ table_style }} bg-gray-100">No.</th>
        <th class="{{ table_style }} bg-gray-100">Pn</th>
        <th class="{{ table_style }} bg-gray-100">Wt</th>
        <th class="{{ table_style }} bg-gray-100">Śr</th>
        <th class="{{ table_style }} bg-gray-100">Cz</th>
        <th class="{{ table_style }} bg-gray-100">Pt</th>
      </tr>
      {% for i in range(8) %}
        <tr>
          <td class="{{ table_style }}">{{ i + 1 }}</td>
          <td class="{{ table_style }}">{{ teacher_plan_cell(class_plan['Monday'][i]) }}</td>
          <td class="{{ table_style }}">{{ teacher_plan_cell(class_plan['Tuesday'][i]) }}</td>
          <td class="{{ table_style }}">{{ teacher_plan_cell(class_plan['Wednesday'][i]) }}</td>
          <td class="{{ table_style }}">{{ teacher_plan_cell(class_plan['Thursday'][i]) }}</td>
          <td class="{{ table_style }}">{{ teacher_plan_cell(class_plan['Friday'][i]) }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endmacro %}


{% block teacher_plans %}
  <h2 class="text-lg font-bold mb-4">Plan nauczycieli</h2>

  <div class="flex flex-wrap">
    {% for i in range(1, t_plans|length) %}

      {% set teacher_name = config.teachers | selectattr("id", "equalto", i) | map(attribute="name") | first %}

      {% if teacher_name %}
        <div class="m-4">
          <h3 class="text-lg mb-4">Plan {{ teacher_name }}</h3>
          {{ teacher_plan_view(t_plans[i], config.teachers) }}
        </div>
      {% endif %}

    {% endfor %}
  </div>
{% endblock %}