{% from "macros/buttons.html" import Button %}

<div class="overflow-x-auto">

  <h2 class="text-lg font-bold mb-4">Nauczyciele</h2>

  {{ Button(url="/teacher", target="#plan-target", text="Nowy nauczyciel") }}

  {% set table_style = "px-4 py-2 border border-gray-300" %}
  <table class="table-auto border-collapse border border-gray-300">
    <tr>
      <th class="{{ table_style }} bg-gray-100">ID</th>
      <th class="{{ table_style }} bg-gray-100">Imię i nazwisko</th>
      <th class="{{ table_style }} bg-gray-100">Akcje</th>
    </tr>
    {% for teacher in teachers %}
      <tr>
        <td class="{{ table_style }}">{{ teacher["id"] }}</td>
        <td class="{{ table_style }}">{{ teacher["name"] }}</td>
        <td class="{{ table_style }}">{{ "buttons" }}</td>
      </tr>
    {% endfor %}
  </table>
</div>