{% from "macros/buttons.html" import Button, DeleteButton, EditButton %}

<div class="overflow-x-auto">

  <h2 class="text-lg font-bold mb-4">Nauczyciele</h2>

  {{ Button(url="/teacher", target="#plan-target", text="Nowy nauczyciel") }}

  {% if failed %}
    <div class="bg-red-100 text-red-800 font-bold border border-red-400 rounded-lg p-4 mt-4 w-1/2">
      Nie można usunąć tego nauczyciela. Jest już przypisany do któregoś przedmiotu.
    </div>
  {% endif %}

  {% set table_style = "px-4 py-2 border border-gray-300" %}

  <table class="table-auto border-collapse w-full mt-4">
    <tr>
      <th class="{{ table_style }} bg-gray-100 w-14">ID</th>
      <th class="{{ table_style }} bg-gray-100">Imię i nazwisko</th>
      <th class="px-4 py-2"></th>
    </tr>
    {% for teacher in teachers %}
      {% set url = "/teacher/" ~ teacher["id"] %}

      <tr>
        <td class="{{ table_style }}">{{ teacher["id"] }}</td>
        <td class="{{ table_style }}">{{ teacher["name"] }}</td>
        <td class="px-4 py-2">
          {{ EditButton(url=url, target="#plan-target ", text="Edytuj") }}
          {{ DeleteButton(url=url, target="#plan-target", text="Usuń", confirm_text="Czy na pewno usunąć tego nauczyciela?") }}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>